
dataset/temp_preprocessed/
dataset/__pycache__/
dataset/preprocessed/
dataset/scaffold_split/
dataset/400k_dataset/
dataset/500k_splits/


dataset/final_dataset_preprocessed.pt
dataset/final_dataset_with_targets.pt


__pycache__/
*.pyc


.venv/